<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${guest.getName() + ', ' + guest.getAge()}">VALUE</p>
<p th:text="${'Email: ' + guest.getEmail()}">VALUE</p>
<p th:text="${guest.getId()}">VALUE</p>

<a th:href="@{/guest/{id}/edit(id=${guest.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/guest/{id}(id=${guest.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>